html, body{
	height: 100%;
	width: 	100%;
}

* {
	box-sizing: border-box;	
	margin: 	0;
	padding: 	0;
}
#bg{
	height: 33.33%;
	width: 	100%;
	background-color: 	white;
	overflow: 	visible;
	margin: 	1.33%;
}

h1{
	margin: 	50px;
	text-align:center;	
	color: gold;
}		

#cor{
	height: 70%;
	width: 	32%;
	float: 	left;
	color: black;
	background-color: 	yellow;	
	border: 	1px solid black;
	overflow: 	visible;
	position: 	relative;	
	margin-right: 1.33%
}

#tt{
	background-color: #DFAADE;
	height: 15%;
	width: 30%;
	position: 	absolute;
	top:0;
	right: 0;
	clear:right;
	text-align: 	center;
	text-orientation: bold;
	font-size: 25px;
	font-weight: bold;
}
section{
 position: 	absolute;
 top:50px;	
 padding: 10px;

 }