html{
	height: 100%;
}
* {
	box-sizing: 	border-box;	
}
#bg{
	background-image: url("wp2704840-best-background.jpg");	
	background-position: bottom right;	
	background-repeat: no-repeat; 
}

h1{
	text-align:center;	
	color: yellow;
}		

div{
	width: 	33%;
	height: 33%;
	background-color : #00FFFF;
}

p {
	width: 	33%;
	height: 33%;
	float: 	right;
	color: white;
}